.page-banner-section {
  --padding-top: 40px;
  --padding-bottom: 40px;
  --padding-mobile-top: 40px;
  --padding-mobile-bottom: 40px;
  padding: var(--padding-top) 0 var(--padding-bottom);
}

@media (max-width: 767px) {
  .page-banner-section {
    padding: var(--padding-mobile-top) 0 var(--padding-mobile-bottom);
  }
}
